
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="wrap">
    <div class="contact-top">
        <h3>İletişim Bilgileri</h3>
        <h4>
            Benimle İletişime Geçin!
        </h4>
        <br />
    </div>
    <div class="form">
        <form class="cmxform" id="contactForm" method="post">
            <div>
                <input type="text" class="textbox" value="Name:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
            </div>
            <div>
                <input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
            </div>
            <div>
                <input type="text" class="textbox" value="Phone:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
            </div>
            <div>
                <p><span class="read">Submit</span></p>
            </div>
        </form>
    </div>
    <div class="form1">
        <div>
            <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
        </div>
    </div>
    <div class="clear"></div>
    <div class="contact-bottom">
        <div class="contact-section" style="background-color: white; padding: 20px; border-radius: 8px;">
            <!-- Yeni kapsayıcı -->
            <div class="contact-left">
                <div class="contact-add">
                    <h3>Adres</h3>
                    <p>Telephone:1-22-5555</p>
                    <p>Fax:1-22-5555</p>
                    <p>Email:<a href="mailto:rabiademirog@gmail.com">rabiademirog@gmail.com</a></p>
                </div>
            </div>
            <div class="contact-map">
                <iframe width="580"
                        height="250"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://www.google.com/maps/embed?pb=..."></iframe>
                <br>
                <small>
                    <a href="https://www.google.com/maps?q=Beylikdüzü" style="color: #555; text-align: left">View Larger Map</a>
                </small>
            </div>
        </div>

    </div>
