@model TravelTripProject.Models.Sınıflar.Comment
@{
    ViewBag.Title = "GetComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:40px;">Yorum Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateComment", "Admin", FormMethod.Post))
{
    <label>ID</label>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonyl" })
    <br />

    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    <br />

    <label>Mail</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />

    <label>Yorum</label>
    @Html.TextAreaFor(x => x.Commentt,15,1, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Yorum Güncelle</button>
}